.compare-bikes {
  margin-bottom: 144px;

  @include on-tablet {
    margin-bottom: 120px;
  }

  @include on-mobile {
    margin-bottom: 92px;
  }

  &__section-title {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 56px;

    @include on-tablet {
      font-size: 48px;
      margin-bottom: 48px;
    }

    @include on-mobile {
      font-size: 32px;
      margin-bottom: 48px;
      line-height: 32px;
      text-transform: capitalize;
    }
  }

  &__products {
    @include page-grid;

    gap: 24px;
  }

  &__product {
    grid-column: span 4;

    @include on-tablet {
      grid-column: 2 /-2;
    }

    @include on-mobile {
      grid-column: 1/ -1;
    }
  }
}

.product {
  &__title {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0;
  }

  &__details {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
  }

  &__price {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0;
  }
}
