.footer {
  width: 100%;

  opacity: 1;

  aspect-ratio: $footer-desktop-width / $footer-desktop-height;

  background-image: url(/src/images/footer-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include on-tablet {
    aspect-ratio: $footer-tablet-width / $footer-tablet-height;
    background-position: -278px center;
  }

  @include on-mobile {
    aspect-ratio: $footer-mobile-width / $footer-mobile-height;
    background-position: -111px center;
  }
}
