.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;

  background-image: url(/src/images/cover-image.jpg);
  background-position: center;
  background-size: cover;

  @include on-mobile {
    background-position: calc(50% - 258px) center;
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 100%;
    color: #fff;
    text-align: center;
    letter-spacing: -1.5px;
    vertical-align: middle;

    @include on-tablet {
      font-size: 64px;
    }

    @include on-mobile {
      font-size: 36px;
    }
  }

  &__bottom {
    padding: 0 294px 203px;

    @include on-tablet {
      padding: 0 72px 130px;
    }

    @include on-mobile {
      padding: 0 20px 88px;
    }
  }
}
