.main {
  display: grid;
  padding: 0 120px;

  &__move-free {
    padding-top: 120px;
  }

  &__compare-bikes {
    padding-top: 164px;
  }

  &__the-details {
    padding-top: 144px;
  }

  &__contacts {
    padding-top: 180px;
  }

  @include on-tablet {
    padding: 0 72px;

    &__move-free {
      padding-top: 120px;
    }

    &__compare-bikes {
      padding-top: 132px;
    }

    &__the-details {
      padding-top: 120px;
    }

    &__contacts {
      padding-top: 120px;
    }
  }

  @include on-mobile {
    padding: 0 20px;

    &__move-free {
      padding-top: 60px;
    }

    &__compare-bikes {
      padding-top: 92px;
    }

    &__the-details {
      padding-top: 92px;
    }

    &__contacts {
      padding-top: 80px;
    }
  }
}
