.menu {
  pointer-events: none;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: 0.3s ease;

  box-sizing: border-box;
  height: 100vh;

  font-weight: 700;
  text-transform: uppercase;

  opacity: 0;
  background-color: #c2c2c2;

  &__top {
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 8px;
    }

    @include on-mobile {
      margin-bottom: 24px;
    }
  }

  &__nav {
    margin-bottom: 40px;

    font-family: Poppins, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    color: #1d1d1d;
    text-transform: uppercase;
    letter-spacing: 2px;
    vertical-align: middle;

    @include on-tablet {
      font-weight: 600;
    }

    @include on-mobile {
      font-weight: 600;
    }
  }

  &__content {
    padding-inline: 121px;

    @include on-tablet {
      padding-inline: 72px;
    }

    @include on-mobile {
      padding-inline: 20px;
    }
  }

  &:target {
    pointer-events: all;
    opacity: 1;
  }

  &__phone-number {
    cursor: default;

    display: block;

    margin-bottom: 16px;

    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #1d1d1d;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;

    @include on-tablet {
      font-weight: 600;
    }

    @include on-mobile {
      font-weight: 600;
    }
  }

  &__phone-number:hover {
    text-decoration: underline;
  }

  &__book-test-ride {
    cursor: default;

    display: block;

    width: fit-content;
    padding-bottom: 7px;
    border-bottom: 1px solid #1d1d1d;

    font-size: 12px;
    line-height: 16px;
    color: #1d1d1d;
    text-decoration: none;
    letter-spacing: 2px;

    @include on-tablet {
      font-weight: 600;
    }

    @include on-mobile {
      font-weight: 600;
    }
  }

  &__book-test-ride:hover {
    text-decoration: underline;

    .menu:target {
      pointer-events: all;
      opacity: 1;
    }
  }
}
