.page {
  scroll-behavior: smooth;

  width: 100%;
  max-width: 100vw;

  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #fff;

  background-color: #1d1d1d;
}

.page__body {
  margin: 0;
}

.page__menu {
  pointer-events: none;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  opacity: 0;
}
